<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maning.gankmm">

    <uses-sdk tools:overrideLibrary="com.sdsmdg.harjot.materialshadows" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 8.0安装需要的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Jpush -->

    <uses-permission android:name="com.maning.gankmm.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DayTheme"
        android:usesCleartextTraffic="true"
        tools:replace="icon,label,theme,allowBackup">

        <activity android:name=".ui.activity.tools.ScanResultActivity"/>

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CodesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="48cc89a5931e80321bced46714a03563" />

        <service android:name="com.amap.api.location.APSService" />
        <activity
            android:name=".ui.activity.WeatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SupportPayActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MoreActivity" />
        <activity android:name=".ui.activity.tools.PhoneAddressActivity" />
        <activity android:name=".ui.activity.tools.IPQueryActivity" />
        <activity android:name=".ui.activity.tools.ChineseCalendarActivity" />
        <activity android:name=".ui.activity.tools.OilPriceActivity" />
        <activity android:name=".ui.activity.tools.DictionaryActivity" />
        <activity android:name=".ui.activity.tools.WorldPhoneCodeActivity" />
        <activity android:name=".ui.activity.tools.HistoryTodayActivity" />
        <activity android:name=".ui.activity.tools.RubbishActivity" />
        <activity android:name=".ui.activity.tools.TrainActivity" />
        <activity android:name=".ui.activity.tools.TrainListActivity" />
        <activity android:name=".ui.activity.tools.FlightActivity" />
        <activity android:name=".ui.activity.tools.FlightListActivity" />
        <activity android:name=".ui.activity.tools.CookMenuActivity"></activity>
        <activity android:name=".ui.activity.tools.CookListActivity"></activity>
        <activity android:name=".ui.activity.tools.CookDetailsActivity"></activity>
        <activity android:name=".ui.activity.tools.LotteryCategoryActivity"></activity>
        <activity android:name=".ui.activity.tools.LotteryDetailActivity"></activity>
        <activity android:name=".ui.activity.login.LoginActivity"></activity>
        <activity android:name=".ui.activity.login.RegisterActivity"></activity>
        <activity android:name=".ui.activity.login.UserInfoActivity"></activity>
        <activity android:name=".ui.activity.login.EditUserInfoActivity"></activity>
        <activity android:name=".ui.activity.login.EditSignatureActivity"></activity>
        <activity android:name=".ui.activity.login.ForgetPsdActivity"></activity>
        <activity android:name=".ui.activity.OpenFrameActivity"></activity>
    </application>

</manifest>